body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    height: 500px;
    background: url(./banner.jpg) center center no-repeat;
    /* Tải ảnh lên background */
    padding: 20px;
    /* giãn khoảng cách giữa các thẻ */

    .about-signin {
        height: 80px;
        width: 100%;
        text-align: right;
        /* Chuyển sang bên phải */

        .about-us,
        .sign-in {
            display: inline-block;
            text-decoration: none;
            /* Bỏ dấu gạch chân */
            margin-top: 20px;
            padding: 7px 15px;
            text-transform: uppercase;
            /* Chuyển tất cả thành chữ in hoa */
        }

        .sign-in {
            margin-right: 60px;
            margin-left: 30px;
            border: 1px solid green;
            /* Tạo viền xanh */
            border-radius: 20px;
            /* Chuyển viền thành hình tròn */
        }
    }

    .logo {
        height: 100px;
        background: url(./hapoERP.png) center center no-repeat;
        /* Tải ảnh lên background */
        padding: 15px;
        /* giãn khoảng cách giữa các thẻ */
    }

    .content-center {

        .left,
        .right,
        .center {
            width: 33%;
            display: inline-block;
            /* Để các cụm cùng dòng */
            text-align: center;
        }

        span {
            display: block;
            font-size: 40px;
        }

        img {
            width: 30px;
            height: 30px;
        }

    }

    .text {
        text-align: center;
        margin-top: 50px;

        span {
            font-size: 20px;
        }

    }

    .btn-start-now {
        text-align: center;

        .start-now {
            text-transform: uppercase;
            padding: 10px 15px;
            border-radius: 20px;
            border: 1px solid green;
            margin-top: 25px;
            cursor: pointer;
            /* Chuyển từ chuột sang bàn tay khi click */
        }
    }
}